@font-face {
    font-family: 'Sole Survivor';
    src: url(../fonts/SoleSurvivorRegular.ttf) format("truetype");
    font-style: normal;
}

@font-face {
    font-family: 'Fallout';
    src: url(../fonts/fallout.ttf) format("truetype");
    font-style: normal;
}

@font-face {
    font-family: 'Overseer';
    src: url(../fonts/Overseer.otf) format("opentype");
    font-style: normal;
}